
/* inizio regole generali */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    [v-cloak] {
        display: none;
    }

    .ms_w-90{
        width: 90%;
    }
/* fine regole generali */


/* inizio regole header*/
    header{
        background-color: #2e3a46;
    }

    header .bi-spotify{
        font-size: 2.5rem;
        color: #1ed760;
        margin-left: 1rem;
    }
/*fine regole header*/

/*inizio regole main*/
    main{
        background-color: #1e2d3b;
    }
    
    main .container{
        height: 100vh;
    }

    .album{
        background-color: #2e3a46;
        color: white;
        height: 28rem;
        margin-top: 2rem;
        
    }

    .card-title{
        text-transform: uppercase;
    }

    .album:hover{
        cursor: pointer;
    }
/*fine regole main*/